.container {
  display: flex;
  align-items: center;
  margin-top: 15px;
	padding: 5px;
	transition: 0.5s;

  .link {
    text-decoration: none;
		margin-left: 17px;
		font-size: 17px;
		color: var(--main-color-white);
  }

	&:hover {
		background-color: var(--dark-color-brown);
		margin-right: -40px;
		margin-left: 15px;
		border-radius: 8px;
		transition: 0.5s;
	}
}
