.button {
	border: none;
	font-size: 18px;
	padding: 7px 50px;
	background-color: var(--dark-color-brown);
	color: var(--main-color-white);
	border-radius: 8px;
	transition: 0.5s;

	&:hover {
		background-color: var(--main-color-brown);
		transition: 0.5s;
	}
}