:root {
  --main-color-white: #fff;
  --main-color-black: #000;
  --main-color-brown: #391818;
  --main-color-grey: #bebebe;

  --light-color-grey: #ededed;

  --dark-color-brown: rgba(57, 24, 24, 0.7);
  --dark-color-pink: #C05B79;

  --background-color-pink: #c990ab;
  
  --background-color-brown: #4a3434;
}
